
#gameover{
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    
}

#gameover h2,
#gameover p{
margin-bottom:1rem;
z-index: 10;
}

#gameover button{
    z-index: 10;
}

#gameover p{
    color: #8435de;
    font-weight: 400;
    z-index: 10;
}


#gameover img{
   margin-top: 2rem; 
   margin-bottom: 2rem;
   max-height: 300px;
   z-index: 10;
}


@media only screen and (max-width: 600px) {
    #gameover img{
        margin-top: 0.3rem; 
        margin-bottom: 1.3rem;
     }
     
  }
